*{
    list-style: none;

}



.contenedor{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-lista{
    
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5f6c7a;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-lista:hover{
    padding-left: 5px;
}

.lista ul li div h3{
    color: #000000;
    list-style: none;
}